<ng-container *ngIf="tasksList.length > 0; else emptyList">
  <ul class="list-group list-group-flush">
    <li
      class="list-group-item"
      *ngFor="let task of tasksList; let i = index"
      [ngClass]="{ even: i % 2 === 0, odd: i % 2 !== 0 }"
    >
      <div class="task-item">
        <div>
          <input
            class="form-check-input me-3"
            type="checkbox"
            value=""
            id="{{ task.id }}"
            (change)="onChange(task)"
          />
          <label class="form-check-label " for="{{ task.id }}"
      [ngClass]="{checked : task.checked}"
          
          >
            {{ task.value }}
          </label>
        </div>
        <div class="task-buttons">
          <button class="btn"><i class="bi bi-x-lg text-secondary" (click)="deleteButton(task)"></i></button>
        </div>
      </div>
    </li>
  </ul>
</ng-container>

<ng-template #emptyList>
  <h5 class="text-center">You have nothing to do, go and treat yourself to a coffee ☕</h5>
</ng-template>
